{%extends "layout.njk"%}
{%block content%}
<style>
    .container1 {
        display: grid;
        grid-template-rows: 40rem;
        grid-template-columns: 50% 40%;

    }

    .container2 {
        display: grid;
        grid-template-rows: 10rem 10rem 10rem;
        grid-template-columns: 30%, 30%;
        position: right;
        grid-row-gap: 3rem;
        margin: 5rem;

    }

    .index body,
    html {
        text-align: center;

    }

    .index button {
        border-radius: 2px;
        transition-duration: 0.4s;
        font-size: large;
        width: 40rem;

    }

    img {
        width: 45rem;
        height: auto;
    }

    h2 {
        color: black;
    }
</style>
<main class="index">
    <h1>Welcome to QVITTER!!!!</h1>
    {%include "hamhurger.njk" %}
    <h2>{{message}}{{user.name}}</h2>

    <div class="container1">
        <img src="../img/Qvitter.png" alt="qvitter bird">
        <div class="container2">
            <button><a href="/tweets">Gå till tweets!</a></button>
            <button><a href="/tweets/new">Skapa qvitt</a></button>
            <button><a href="/tweets/login">Login</a></button>

        </div>
    </div>

</main>

{%endblock%}