{%extends "layout.njk"%}
{%block content%}
    <main>
        <h1>{{message}}</h1>
        <button><a href="/tweets">Gå till tweets!</a></button>
        <button><a href="/tweets/new">Skapa qvitt</a></button>
        <button><a href="/login"></a></button>
        
    </main>

{%endblock%}