{% extends "layout.njk" %}
{% block content %}
<style>
    body,html{
        background-color: red;
        color: wheat;
    }
</style>
    <main>
        <h1>{{ title }}</h1>
        <h2>{{ message }}</h2>
        <form action="/tweet/newuser" method="POST">
            <input type="text" name="username" id="användarnamn" placeholder="Användarnamn">
            <input type="email" name="email" id="email" placeholder="Email" >
            <input type="password" name="password" id="password" placeholder="Lösenord" required>
            <button type="submit">Create!</button>
        </form>
        <h3>Har redan ett konto? Logina in här!</h3>
        <h3><a href="/">Login</a></h3>
        
    </main>
{% endblock %}
