body {
    background-color: rgb(27, 0, 25);
    color: rgb(187, 84, 183);
    font-family: sans-serif, 'Courier New', Courier, monospace;
}
  .scroller {
    scrollbar-color: rgb(76, 0, 62) rgb(247, 0, 255);
  }

  .tweet,.tweet ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 1rem;

  }
  
  a:link, a:visited, a:active {
    text-decoration: none;
    color:#fb00ff;

  }
  .tweet h1{
    font-size: 3rem;
    font-weight: lighter;
  }
  .tweet header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fb00ff;
  }
  .tweet footer ul {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .user li {
  align-items: safe;
  list-style-type: disc;
  }
  .tweet button {
    background-color: #470138; 
    color:#fb00ff;
    border-radius: 2px;
    border: none;
    transition-duration: 0.4s;
    font-size: large;
  }
  .tweet button:hover {
    font-size:200%;
    box-shadow: 0 12px 16px 0 rgba(166, 166, 166, 0.24), 0 17px 50px 0 rgba(241, 241, 241, 0.19);
  }
  
